.header{
    height: 100%;
    background-image:url('Untitled-1.jpg');
    background-size: cover; 
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.list{
    list-style: none;
}
.item{
    display: inline-block;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
}
a.nav-link {
    position: relative; 
    text-decoration: none; 
    font-size: 20px;}

a.nav-link:after{
    content:'';
    position: absolute;
    bottom:0;
    left:50%;
    width:0%;
    height:2px;
    background-color: rgb(255, 255, 255);
   transition: 0.4s;
    
}
a.nav-link:hover:after{
width:100%;
   left:0;/
}
body{
    background-image:url('Untitled-1.jpg');
    background-size: cover;
    color: white;
}
.container {
position: relative;
}

.black-box {
position: relative;
z-index: 1;
height: 100px;
margin: 30px;
right: none;
}
.green-box {
position: absolute;
z-index: 2; /* green box will be above black box */
width: 35%;
left: 90px;
top: 300px;
}
.n-box{
position: absolute;
z-index: 3; /* green box will be above black box */
width: 50%;
left: 400px;
top: 50px;
}
.gray-box {
position: absolute;
z-index: 3; /* gray box will be above both green and black box */
width: 35%;
left: 100px;
top: 400px;
}
.gn-box {
position: absolute;
z-index: 2; /* green box will be above black box */
width: 35%;
left: 500px;
top: 500px;
}
.body{
position: absolute;
background-color: white;
width: 100%;
top: 1000px;
color: black;
}
.column {
float: left;
width: 33.33%;
padding: 15px;
}
.row{
box-sizing: border-box;
 border: 15px;
}
.row::after {
content: "";
display: table;
clear: both;
}
@media screen and (max-width:600px) {
.column {
width: 100%;
}
}
.body2{
position: absolute;
background-color: rgb(0, 0, 0);
width: 100%;
top: 1615px;
color: rgb(255, 255, 255);
}
.body3{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 1960px;
    color: black;
    }
    .h-box {
        position: absolute;
        z-index: 3;
        width: 35%;
        top: 600px;

      } 
    .body4{
        position: absolute;
        background-image:url('Untitled-1.jpg');
    background-size: cover;
        width: 100%;
        top: 2800px;
        }
        .h1-box {
            position: absolute;
            z-index: 3;
            width: 35%;
            top: 300px;
            left: -200px;
          } 
          .h2-box {
            position: absolute;
            z-index: 2; /* green box will be above black box */
            width: 35%;
            left: 170px;
            top: 100px;
          }
          .body5{
            position: absolute;
            background-color: white;
            width: 100%;
            top: 3600px;
            color: black;
            }
.body6{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 3990px;
    color: rgb(255, 255, 255);
    align-items: center;
    height: 200px;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
}
.search-bar button {
    background-color: #707173;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.body7{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 4190px;
    color: black;
    }
    .leftcolumn1{
        float: left;
        width: 50%;
      }
      .rightcolumn1{
        float: left;
        width: 50%;
      }
.o{
    width: 170px;
    background-color: #fefcfc;
    color: black;
    text-align: center;
    border-radius: 40px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;}
.o2{
    width: 170px;
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 40px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;}
.o:hover{
    color: white;
    background-color: #000000;
}
.o2:hover{
    color: black;
    background-color: #ffffff;
}